@import 'normalize.css/normalize.css';

:root {
	--cta-box-shadow: 0px 1px 6px rgba(0,0,0,0.6);
	--cta-border-radius: 10px;
	--default-color: #50414d;
	--primary-color: #b64578;
	--danger-color: #e03c3f;
	--success-color: #93e03c;

	background-color: #ffefef55;
	color: var(--default-color);
	font-family: Arial, Helvetica, sans-serif;
	padding: 20px;
}

* {
	box-sizing: border-box;
}

button {
	cursor: pointer;
	border-image-width: 0;
}

button.button {
	border-radius: var(--cta-border-radius);
	border-width: 0;
	box-shadow: var(--cta-box-shadow);
	font-size: 18px;
	padding: 10px 25px;
}

button.primary {
	background-color: var(--primary-color);
	color: white;
}

button.disabled {
	cursor: default;
	opacity: 0.7;
}
