@import 'normalize.css/normalize.css';

:root {
	--cta-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.8);
	--cta-border-radius: 10px;
	--default-color: #230e18;
	--disabled-color: #b7a5ad;
	--primary-color: #934c6c;
	--danger-color: #e03c3f;
	--success-color: #93e03c;

	font-family: Arial, Helvetica, sans-serif;
	padding: 20px;
}

* {
	box-sizing: border-box;
}
