@import 'normalize.css/normalize.css';

:root {
	--cta-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.8);
	--cta-border-radius: 10px;
	--default-color: #50414d;
	--disabled-color: #856e80;
	--primary-color: #934c6c;
	--danger-color: #e03c3f;
	--success-color: #93e03c;

	color: var(--default-color);
	font-family: Arial, Helvetica, sans-serif;
	padding: 20px;
}

* {
	box-sizing: border-box;
}

button {
	cursor: pointer;
}

button.button {
	border-radius: var(--cta-border-radius);
	border-width: 0;
	box-shadow: var(--cta-box-shadow);
	font-size: 18px;
	padding: 5px 20px;
}

button.primary {
	background-color: var(--primary-color);
	color: white;
}
