<h1>React Patterns in Angular Land</h1>

<h2>Composition vs. Inheritance</h2>

<h3>definition-card</h3>

<div class="cards">
	<definition-card>
		<definition-card-front>sesquipedalian</definition-card-front>
		<definition-card-back>
			<i>adjective</i> Also <b>ses·quip·e·dal</b>
			<ol>
				<li>given to using long words.</li>
				<li>(of a word) containing many syllables.</li>
			</ol>
			<i>noun</i>
			<ol start="3">
				<li>a sesquipedalian word.</li>
			</ol>
			<a href="https://www.dictionary.com/browse/sesquipedalian">source: dictionary.com</a>
		</definition-card-back>
	</definition-card>

	<definition-card>
		<definition-card-front>memewashed</definition-card-front>
		<definition-card-back>
			Overexposure of memes to the point that your worldview changes.
			<br><br>
			<i>I liked so many fitness groups on facebook that now I've been memewashed into working out.</i>
			<br><br>
			<a href="https://www.urbandictionary.com/define.php?term=memewashed">source: urbandictionary.com</a>
		</definition-card-back>
	</definition-card>
</div>

<h3>image-card</h3>

<div class="cards">
	<image-card imgSrc="assets/big-pants.jpg">
		<image-card-caption>
			<p>I want these pants</p>
			<p>this is how I feel when I put on salwar pants</p>
		</image-card-caption>
	</image-card>

	<image-card imgSrc="assets/melon-man.jpg">
		<image-card-caption>
			<p>Oh dear God, what am I seeing?!?!</p>
			<p>I can't unsee this</p>
			<p>I hope no children were watching</p>
		</image-card-caption>
	</image-card>
</div>
