<h1>React Patterns in Angular Land</h1>

<h2>Composition vs. Inheritance</h2>

<h3>definition-card</h3>

<div class="cards">
	<definition-card>
		<definition-card-front>sesquipedalian</definition-card-front>
		<definition-card-back>
			<i>adjective</i> Also <b>ses·quip·e·dal</b>
			<ol>
				<li>given to using long words.</li>
				<li>(of a word) containing many syllables.</li>
			</ol>
			<i>noun</i>
			<ol start="3">
				<li>a sesquipedalian word.</li>
			</ol>
			<a href="https://www.dictionary.com/browse/sesquipedalian">source: dictionary.com</a>
		</definition-card-back>
	</definition-card>

	<definition-card>
		<definition-card-front>memewashed</definition-card-front>
		<definition-card-back>
			Overexposure of memes to the point that your worldview changes.
			<br><br>
			<i>I liked so many fitness groups on facebook that now I've been memewashed into working out.</i>
			<br><br>
			<a href="https://www.urbandictionary.com/define.php?term=memewashed">source: urbandictionary.com</a>
		</definition-card-back>
	</definition-card>
</div>

<h3>image-card</h3>

<div class="cards">
	<image-card imgSrc="assets/big-pants.jpg">
		<image-card-caption>
			<p>I want these pants</p>
			<p>this is how I feel when I put on salwar pants</p>
		</image-card-caption>
	</image-card>

	<image-card imgSrc="assets/melon-man.jpg">
		<image-card-caption>
			<p>Oh dear God, what am I seeing?!?!</p>
			<p>I can't unsee this</p>
			<p>I hope the children weren't watching</p>
		</image-card-caption>
	</image-card>
</div>

<h2>Compound Components</h2>

<div class="tabs">
	<tab-button-group [formControl]="tabButtonsFormControl">
		<tab-button
			*ngFor="let tab of tabContents"
			[value]="tab.value"
		>
			{{tab.text}}
		</tab-button>
	</tab-button-group>

	<p class="tab-message">
		{{ tabsContent$ | async }}
	</p>
</div>

<h2>Render Prop</h2>

<h2>Experiments</h2>

<h3>ControlValueAccessor as a render prop</h3>

<p>
	This is a pretty cool way to reduce the boiler plate of a control value accessor, but it's not super reusable.
	You can't wrap it in another component and still provide the same level of flexibility of a true form control.
	In it's current form, it's also not very useful because there's no local state, which isn't necessarily a bad thing,
	but there's no way to build up form control state from a series of user interactions. You could probably pull
	it off with some fancy prop getter / state reducer voodoo. Or you could write a component that expects an
	onChanges function, but then you end up with a lot of extra layers and components.
</p>

<control-value-accessor [formControl]="formControl">
	<ng-template let-context="context">
		<button (click)="context.onChange(1)">1</button>
		<button (click)="context.onChange(2)">2</button>
		<button (click)="context.onChange(3)">3</button>
		<button (click)="context.onChange(4)">4</button>
		<button (click)="context.onChange(5)">5</button>
	</ng-template>
</control-value-accessor>

<form [formGroup]="formGroup">
	<control-value-accessor formControlName="formyMcFormface">
		<ng-template let-context="context">
			<button class="button primary" (click)="context.onChange('a')">a</button>
			<button class="button primary" (click)="context.onChange('b')">b</button>
			<button class="button primary" (click)="context.onChange('c')">c</button>
			<button class="button primary" (click)="context.onChange('d')">d</button>
		</ng-template>
	</control-value-accessor>
</form>
